header {
  text-align: center;
  background-color: rgb(68, 68, 68);
  color: white;
  padding: 15px;
}

.secondRow {
  margin-top: 10px;
}

/* Search Container */
.searchBox {
  /* border-color: 1px solid red; */
}
.searchForm {
  /* height: 500px; */
}
.searchBtn {
  color: #4dd0e1;
  background-color: white;
}
.searchBar {
  width: 25vw;
  border: none;
  border-bottom: 1px solid black;
}
.searchBar:focus {
  outline: none;
}

.currentWeather {
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgray;
}

.forecast {
  margin: 10px;
  border: 1px solid lightgray;
  display: flex;
}

/* .box {
  border: 1px solid red;
} */
