header {
  text-align: center;
  background-color: rgb(68, 68, 68);
  color: white;
  padding: 15px;
}

.currentWeather {
  background-color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}
.forecast {
  background-color: red;
}
/* .searchForm {
  float: left;
} */
.searchBtn {
  border: 1px solid black;
  /* color: #4dd0e1; */
}
