header {
  text-align: center;
  background-color: rgb(68, 68, 68);
  color: white;
  padding: 15px;
}

.currentWeather {
  /* border-color: 1px solid red;
  margin-top: 10px;
  margin-bottom: 10px; */
}
.forecast {
  display: flex;
}
.searchBox {
  /* border-color: 1px solid red; */
}


.searchForm{
  height:100px; 

}

.searchBtn {
  border: 1px solid black;
  /* color: #4dd0e1; */
}

.searchBar{
  width: 25vw;
}

.box {
  border: 1px solid red;
}
